In [136]:
# Importación de librerías necesarias

import pandas as pd

### Acceso a los datos de ventas

Carga el dataset de ventas. ¿Cuántas unidades de cualquier helado se han vendido en total a lo largo del histórico?

In [137]:
df = pd.read_excel('./ventas_helados.xlsx')
df.head()

       fecha  id_producto  ventas_unidades  precio
0 2019-01-07         4758             7953    4.82
1 2019-01-07           17             7052    1.50
2 2019-01-07         9134             6403    2.36
3 2019-01-07         8689             4266    2.47
4 2019-01-07          402             2932    2.89

In [138]:
total_units_sold = df['ventas_unidades'].sum()
print(f'\nSe han vendido un total de: {total_units_sold} helados')

Se han vendido un total de: 3848068 helados

¿Cuál es el identificador del helado con más ventas en euros?

In [139]:
# Agrupamos los datos de ventas por helado y el identificador del helado
ventas_por_helado = df.groupby('id_producto')['ventas_unidades'].sum()
print(ventas_por_helado)

# Encontrar el helado con las ventas más altas
id_helado_max_ventas = ventas_por_helado.idxmax()

print("\nEl ID del helado con más ventas es:", id_helado_max_ventas)

id_producto
17      998119
101      27127
240     202538
402     266723
999      20468
2033    209155
3636     32070
4468     14473
4577    130704
4758    449007
5019     17401
5684     45269
6525     62213
7118      4051
8689    689257
9134    679493
Name: ventas_unidades, dtype: int64

El ID del helado con más ventas es: 17

### Acceso a los datos de publicidad

Lee los datos de publicidad, y transformalos en una serie semanal con la suma de todos los medios.

In [140]:
df = pd.read_excel('./inversiones_helados.xlsx')
df.head()

,fecha,inversion_tv,inversion_radio,inversion_youtube,inversion_facebook
0,2019-01-07,6100,0,6100,0
1,2019-01-14,0,0,0,6530
2,2019-01-21,1120,0,1120,5610
3,2019-01-28,0,0,0,1510
4,2019-02-04,880,880,880,0

In [164]:
# Agrupar por semana y sumar las inversiones de todos los medios
# serie_semanal = df.groupby(pd.Grouper(key='fecha')).sum()

# Sumar las inversiones de todos los medios para cada semana
df['total_inversiones'] = df[['inversion_tv', 'inversion_radio', 'inversion_youtube', 'inversion_facebook']].sum(axis=1)

import pdb; pdb.set_trace()

serie_total_inversion = pd.Series(df['total_inversiones'], name='total_inversion', index=df['fecha'])

print(serie_total_inversion)

--Return--
None
> c:\users\hugoc\appdata\local\temp\ipykernel_14304\1642933984.py(7)<module>()

fecha
2019-01-07   NaN
2019-01-14   NaN
2019-01-21   NaN
2019-01-28   NaN
2019-02-04   NaN
              ..
2020-11-30   NaN
2020-12-07   NaN
2020-12-14   NaN
2020-12-21   NaN
2020-12-28   NaN
Name: total_inversion, Length: 104, dtype: float64

¿Cuál es el mes con más inversión total?

In [153]:
# Agrupar por mes y sumar las inversiones de todos los medios
serie_mensual = df.groupby(pd.Grouper(key='fecha', freq='ME')).sum()

# Sumar las inversiones de todos los medios para cada mes
serie_mensual['total_inversion'] = serie_mensual.sum(axis=1)

# Crear la serie mensual con la suma de inversiones totales
serie_total_inversion_mensual = pd.Series(serie_mensual['total_inversion'], name='total_inversion')

print(serie_total_inversion_mensual)

# Encontrar el mes con la mayor inversión total
mes_max_inversion = serie_mensual['total_inversion'].idxmax().strftime('%B de %Y')

print("\nEl mes con la mayor inversión total es:", mes_max_inversion)

KeyError: 'The grouper name fecha is not found'

### Combinando datos

Combina el dataframe de ventas con las descripciones de los productos, y quédate sólo con los productos de helados de tarrina.

In [151]:
df_ventas = pd.read_excel('./ventas_helados.xlsx')
df_productos = pd.read_csv('./nombres_productos.csv')

# Fusionar los DataFrames en función del id_producto
df_combinado = pd.merge(df_ventas, df_productos, on='id_producto', how='inner')

# Filtrar los productos de helados de tarrina
helados_tarrina = df_combinado[df_combinado['nombre'].str.contains('Tarrina')]

helados_tarrina.head(10)

,fecha,id_producto,ventas_unidades,precio,nombre
5,2019-01-07,2033,1862,2.44,CARTE D' OR Helado de yogur Tarrina 500 gr
8,2019-01-07,240,1015,2.30,Helado Haagen Dazs Cookies Tarrina 400 g
10,2019-01-07,5684,317,3.70,DIA Helado Fresa Tarrina 1kg
11,2019-01-07,101,208,3.93,MAGNUM Helado White Chocolate & Cookies Tarrin...
13,2019-01-07,3636,160,2.60,CARTE D' OR Helado Stracciatella Tarrina 500 gr
14,2019-01-07,5019,132,2.45,DIA Helado Dulce de Leche Tarrina 500 g
15,2019-01-07,7118,0,NaN,Haagen Dazs Helado Fresa Tarrina 400 g
21,2019-01-14,2033,1389,2.40,CARTE D' OR Helado de yogur Tarrina 500 gr
24,2019-01-14,240,873,2.29,Helado Haagen Dazs Cookies Tarrina 400 g
26,2019-01-14,5684,313,3.56,DIA Helado Fresa Tarrina 1kg

Agrega el dataset anterior en una serie semanal que agregue todos los productos mediante la suma de unidades y la media de los precios

In [149]:
# Agrupar por semana y calcular suma de unidades y media de precios
serie_semanal_ventas = helados_tarrina.groupby(pd.Grouper(key='fecha', freq='W'))['ventas_unidades'].sum()
serie_semanal_precios = helados_tarrina.groupby(pd.Grouper(key='fecha', freq='W'))['precio'].mean()

# Crear dos nuevas series con la suma de unidades y la media de precios
serie_suma_unidades = pd.Series(serie_semanal_ventas.values, index=serie_semanal_ventas.index, name='suma_unidades')
serie_media_precios = pd.Series(serie_semanal_precios.values, index=serie_semanal_precios.index, name='media_precios')

# Crear una nueva serie combinando las dos series anteriores
serie_semanal = pd.concat([serie_suma_unidades, serie_media_precios], axis=1)

print(serie_semanal)

            suma_unidades  media_precios
fecha
2019-01-13           3694       2.903333
2019-01-20           3052       2.846667
2019-01-27           2952       2.820000
2019-02-03           3165       2.890000
2019-02-10           3211       2.925000
...                   ...            ...
2020-12-06           4144       2.827143
2020-12-13           5336       2.765714
2020-12-20           5566       2.797143
2020-12-27           5853       2.777143
2021-01-03           6090       2.754286

[104 rows x 2 columns]

##### Combina todos los dataframes en uno solo (llamado dataset_conjunto), partiendo del dataset con los datos de helados de tarrina agregados por semana. Utiliza left joins

Crea una variable binaria <i>navidad</i> que valga 1 en las semanas de nochebuena y nochevieja

### Jugando con expresiones regulares

¿Eres capaz de crear una variable de formato (peso en kilos) a partir del nombre del producto, utilizando expresiones regulares?